#Regionalchartdiv {
	width		: 100%;
	height		: 400px;
	font-size	: 11px;
}
#chartdiv {
  width: 100%;
  height: 400px;
}
#applicationDecisionChartdiv {
	width		: 100%;
	height		: 400px;
	font-size	: 11px;
}