@CHARSET "ISO-8859-1";


 
/* id specific settings */
#ruleName {
	font-size: x-large;
	height: 48px
}

#ruleDesc {
	resize: none;
}

#attributeName {
	text-align: left;
}

#operationSelect {
	text-align: left;
}

#dummyHdr {
	background-color: transparent
}

 /* custom color settings */ 
.rule-wb {
	color: #000066
}

.nav-row2 {
	background-color: #B3C6FF
}

.navbar-btn {
	background-color: transparent; /*#E6E6E6; */
}

.rule-hdr:hover {
 	background-color: #E6ECFF;
 	border-color: #0033CC
}

.score-cat-hdr {
	background-color: #CCD9FF;
	border-color: #0033CC
}

.score-cat-item {
	border-color: #0033CC
}

.new-score-cat {
 	background-color: #E6ECFF;
	border-color: #0033CC
}

.new-score-cat-addon {
 	background-color: #B3C6FF;
	border-color: #0033CC
}

.scorecard-input:hover {
 	border-color: #0033CC
}

.scorecard-input:DISABLED {
 	background-color: transparent
}

.sec-divider {
	border-color: #CCD9FF
}

.scorecard-divider {
	border-color: #809FFF
}

.col-sep-left {
	border-left-color: #CCD9FF
}

.col-sep-right {
	border-right-color: #CCD9FF
}

.scorecard-hdr-col {
	background-color: #B3C6FF;
	border-color: #FFFFFF
}

.scorecard-btn {
	background-color: transparent; /*#E6E6E6; */
}

.jumbotron-layout{
	display:inline-block;
	width:5cm;
	padding-top: 40px;
	padding-bottom:0px;
	background-color: #B3C6FF ;
}
.collapse-headingcolor{
	background:#B3C6FF;
}

.collapse-background{
	
	background-color: #B3C6FF
}
.btn-layout{
	height: 1cm;
	width:7cm;
	
}
.text-mediumsize{
	font-size: 14px;
   line-height: 1.3;
  
}



.text-smallsize{
	font-size: 12px;
   line-height: 1.2;
}



/* width, height, margins, padding and others*/
.navbar-icon {
	height: 48px;
	width: 48px;
}
.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.btn-font{
	
	font-family: 'Open Sans';
}


.header-container {
	width: 450px;
	padding-top: 150px;	
	float: left;
	padding-left: 80px;
}
.header-container-icon {
	max-width: 350px;
	padding-top: 150px;	
	float: left;
	padding-left: 50px;
}

.layout-container {
		width: 880px;
		padding-top: 150px;
		padding-right:80px;
		float: right
}
.layout-containerIcon {
		width: 990px;
		padding-top: 150px;
		float: right;
		padding-right:50px;
}




.btn-close{
	background-color: #F0AAAA;
}


.application-container {
	margin-top:60px;
	width: 1024px;
	float: left
}
.manageRules-container {
	margin-top:100px;
	width: 1024px;
	float: left
}
.simpleRule-container{
	margin-top:150px;
	width: 1024px;
	float: left
	
}
.dataModelSQL-container{
	margin-top:120px;
	width: 1024px;
	float: left
	
}
.panal-resized{
	
	width: 346px;
	height: 256px;
}


.rule-wb {
	padding-left: 10px;
	font-size: x-large;
	font-weight: 900
}

.nav-row1 {
	padding: 5px 20px;
}

.nav-row2 {
	padding-left: 20px; 
	padding-right: 20px;
	height: 1cm;
}

.navbar2-style {
	margin: 1px;
	padding: 1px;
	height: 1cm;
}

.navbar-app-label {
	font-size: medium;
	padding-right: 20px
}

.navbar-app-list {
	padding-right: 20px;
	width: 200px;
	text-align: left;
}

.navbar-btn {
	padding: 2px;
	margin: 1px;
	border-style: none;
}

.navbar-btn-img {
	padding: 2px;
	height: 30px;
	width: 30px
}
.navbar-btn-img-sm {
	padding: 2px;
	height: 22px;
	width: 22px
}
.navbar-btn-img-md{
	padding: 2px;
	width: 45px;
    height: 45px;
	border-radius: 10px;
	
}

.navbar-btn-img-lg{
	padding: 2px;
	height: 65px;
	width: 65px
	
	
}

.panel-heading-small {
	padding-top:5px;
	 padding-bottom:20px;
  height: 27px;

}




.nav-height{
    height: 128px;
	
}
.rule-rows {
	margin: 0px;
	padding: 0px
}

.form-grp-style {
	margin-top: 5px;
	margin-bottom: 5px
}

.rule-hdr {
	border: 0px;
 	border-style: none;
 	font-weight: normal
}

.rule-hdr:hover {
 	border-bottom: 1px;
 	border-style: dotted;
 	font-weight: bold
}

.score-cat-hdr {
	font-weight: bold;
	border-style: dotted
}

.rule-hdr-btn-col {
	padding: 8px 1px;
	vertical-align: middle; 
	text-align: left
}

.rule-hdr-btn {
	padding: 1px;
	border-style: none;
}

.rule-hdr-btn-img {
	padding: 2px;
	height: 36px;
	width: 36px
}

.score-cat-item {
	border-style: dotted
}

.new-score-cat {
	border-style: dotted
}

.new-score-cat-addon {
	border-style: dotted
}

.new-score-cat-img {
	height: 20px;
	width: 20px
}

.scorecard-input {
	text-align: center;
	margin-bottom: 8px;
}

.scorecard-input:hover {
 	border-style: dotted;
 	font-weight: bold
}

.scorecard-input:DISABLED {
 	cursor: default;
 	border-style: none;
 	font-weight: normal;
}

.logo-img {
	width: 113px;
	height: 38px"
}

.rule-img {
	display: block;
 	margin: auto;
 	height: 48px;
 	width: 48px;
 	
}
 
.sec-divider {
	margin-top: 10px;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: dotted
}

.scorecard-divider {
	margin-top: 10px;
	margin-bottom: 10px;
	border-width: 1px;
	border-style: dotted
}	

.scorecard-input-col {
	padding: 1px
}

.scorecard-hdr-col {
	padding: 1px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #FFFFFF;
	height: 40px;
	border-radius: 5px
}

.scorecard-btn-col {
	padding: 1px;
	vertical-align: middle; 
	text-align: right
}

.col-sep-left {
	border-left-width: 1px;
	border-left-style: dotted
}

.col-sep-right {
	border-right-width: 1px;
	border-right-style: dotted
}

.scorecard-icon {
	height: 24px;
	width: 24px;
}

.scorecard-btn {
	padding: 4px 1px;	 
}

.page-btn-img {
	padding: 0px;
	height: 24px;
	width: 24px
}
